<h1>Articles#index</h1>
<h2>Hello Rails!</h2>
<p>Find me in app/views/articles/index.html.erb</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>

  <%= link_to "New Article",new_article_path %>
</ul>
